#footer {
    height: 700px;
    background-size: cover;
}

#footer-logo {
    position:static;
    margin-top: 420px;
    margin-left: 50px;
}

p.copyright {
    color: #68B0C5;
    font-family: 'Montserrat', sans-serif; font-weight:400; font-style:normal;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 50px;
}

.links {
    margin-top: 220px;
}

a.footer {
    color: #68B0C5;
    display: block;
    font-family: 'Montserrat', sans-serif; font-weight:700; font-style:normal;
    font-size: 18px;
    margin-top: 12px;
    margin-left: 100px;
    line-height: 20px;
}

.disclaimer {
    text-align: right;
    float: right;
    margin-right: 20px;
    vertical-align: bottom;
    margin-top: -110px;
    width: 80%;
    margin-left: 20%;
    clear: right;
}

p.disclaimer-text {
    color: #68B0C5;
    font-family: 'Montserrat', sans-serif; font-weight:400; font-style:normal;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 50px;
    padding-top: 0px;
}

.social-media {
    text-align: right;
    margin-top: 470px;
    right: 0px;
    position: absolute;
}

a.fa {
    font-size: 70px;
    color: #68B0C5;
    padding-right: 20px;
}

a:hover {
    text-decoration: none;
}

@media screen and (max-width: 23em) {
    .links {
        margin-top: 230px;
        margin-left: -260px;
        font-size: 0.9em;

    }
    .disclaimer {
        margin-top: -620px;
        margin-left: 45%;
        margin-right: 20px;
        vertical-align: top;
        clear: left;
    }
    .links a {
        font-size: 14px;
        line-height: 14px;

    }
    .social-media {
        margin-top: 620px;
        height: 1em;
        margin-left: 50px;
        
    }
    .social-media a {
        height: 20px;
        width: 20px;
        padding-right: 60px;
    }
    p.disclaimer-text {
        font-size: 8px;
        margin-top: 14px;
        padding-top: 5px;
    }
    #footer-logo {
        margin-top: 480px;
        margin-left: 20px;
        height: 5em;
        width: 10em;
    }
    p.copyright {
        margin-left: 30px;
        margin-top: 10px;
    }
}

@media screen and (min-width: 23em) and (max-width: 35em) {
    .links {
        margin-top: 230px;
        margin-left: -300px;

    }
    .disclaimer {
        margin-top: -640px;
        margin-left: 45%;
        margin-right: 20px;
        vertical-align: top;
        clear: left;
    }
    .links a {
        font-size: 15px;
        line-height: 15px;
    }
    .social-media {
        margin-top: 620px;
        height: 1em;
        margin-left: 50px;
        
    }
    .social-media a {
        width: 60px;
        padding-right: 50px;
    }
    p.disclaimer-text {
        font-size: 10px;
    }
    #footer-logo {
        margin-top: 480px;
        margin-left: 30px;
        height: 6em;
        width: 12em;
    }
    p.copyright {
        margin-left: 30px;
        margin-top: 10px;
    }
}

@media screen and (min-width: 35em) and (max-width: 46em) {
    .links {
        margin-top: 150px;
        margin-left: -320px;

    }
    .links a {
        font-size: 18px;
        line-height: 20px;
    }
    .disclaimer {
        margin-top: -450px;
        margin-left: 50%;
        margin-right: 30px;
        vertical-align: top;
        clear: left;
    }

    .social-media {
        margin-top: 620px;
        
    }
    p.disclaimer-text {
        font-size: 11px;
    }
    #footer-logo {
        margin-top: 480px;
        margin-left: 30px;
    }
    p.copyright {
        margin-left: 30px;
        margin-top: 10px;
    }
}

@media screen and (min-width: 46em) and (max-width: 58em) {
    .links {
        margin-top: 100px;
        margin-left: -330px;

    }
    .links a {
        font-size: 18px;
        line-height: 20px;
    }
    .disclaimer {
        margin-top: -420px;
        margin-left: 40%;
        margin-right: 20px;
        vertical-align: top;
        clear: left;
    }
    .social-media {
        margin-top: 580px;
    }
}

