body{
    font-family:Montserrat;
}
button, input, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

a, a:hover, a:focus, a:active{
    text-decoration: none;
    color: inherit;
}

#slide-indicator{
    border-radius: 100%;
    width: 11px;
    height: 11px;
    background-color:#DDDDDD;
    opacity: 1;
}

#slide-indicator.active{
    border-radius: 100%;
    width: 11px;
    height: 11px;
    background-color:#666666;
}

.leilo-text-color{
    color: #57C3EE;
}

.leilo-button-white{
    background-color: white;
    transition: all 1s;

}

.leilo-button-white:hover{
    background-color: #57C3EE;
    color: white;
    
}

.leilo-button-blue{
    background-color: #57C3EE;
    color: white;
    transition: all 1s;
    border: 3px solid #57C3EE;
}

.leilo-button-blue:hover{
    background-color: white;
    color: #57C3EE;
    
}




/* banner section*/
.scrolling-banner{
    height: 33px;
    overflow: hidden;
    position: relative;
}

.scrolling-banner p{
    font-weight: 600;
    font-size: 14px;
    color: #57C3EE;
    margin: 0;
    position: absolute;
    top: 50%;
    animation: scrolling-text 8s linear infinite;
    white-space: nowrap;
}

@media(min-width: 840px){
    .scrolling-banner p{
        font-weight: 600;
        font-size: 4vh;
        color: #57C3EE;
        margin: 0;
        position: absolute;
        top: 50%;
        animation: scrolling-text 8s linear infinite;
        white-space: nowrap;
    }

    .scrolling-banner{
        height: 8vh;
        overflow: hidden;
        position: relative;
    }

    
}

@keyframes scrolling-text 
{
    0%{
        transform: translateX(100vw) translateY(-50%);
    }
    100%{
        transform: translateX(-100vw) translateY(-50%);
        top: 50%;   
    }
    
}
/* banner section */


/* header logo section */
.header-logo{
    background-color: #57C3EE;
    
}

.leilo-logo{
    width:20%;
}

@media(min-width: 840px){
    .leilo-logo{
        width:7vw;
    }   


}





/* header logo section */


/* Header advertisement section */
.cans-advertisement{
    background-image: url("../images/headerImages.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-bottom: 55%;
    
}

.cans-advertisement-text{
    font-family:Montserrat;
    font-weight: 800;
    font-size: 5vw;
    
}

.trademark{
    font-size:2vw;
    font-family:Montserrat;
    font-weight: 800;
    
}

.cans-advertisement button{
    border-radius: 70px;
    width:20vw;
    height: 10vh;
    font-size: 2vw;
    font-weight: 800;
}

/* This media query not working for some reason */
/* @media(min-width: 2101px){
    .cans-advertisement-text{
        font-size: 120px;
        margin-top: 2em;
    }

    .cans-advertisement button{
        border-radius: 70px;
        width:20%;
        height: 100px;
        font-size: 50px;
        font-weight: 800;
        margin-top: 2em;
    }   

    .trademark{
        font-family:Montserrat;
        font-weight: 800;
        font-size: 50px;
        
    }
    
}

@media(max-width: 2100px){

    .cans-advertisement-text{
        font-size: 80px;
        margin-top: 2em;
    }

    .cans-advertisement button{
        border-radius: 70px;
        width:25%;
        height: 100px;
        font-size: 50px;
        font-weight: 800;
        margin-top: 2em;
    }   

    .trademark{
        font-family:Montserrat;
        font-weight: 800;
        font-size: 50px;
        
    }
    
} */

/* Header advertisement section */


/* What's inside section */
.whats-inside{
    max-width: 1024px;
}

.whats-inside-section{
    background-color: #CFF4FF;
    padding-bottom: 2em;
}

.whats-inside-title{
    font-weight: 700;
}

.whats-inside-info-text{
    font-size: 14px;
    font-weight: 600;
}

.whats-inside-text{
    font-size: 12px;
    font-weight: 600;
}

.whats-inside-ingredient-label{
    margin:0;
}

.ingredient-image{
    width:65%;
}

.l-theanine-image{
    width:50%;
}

.whats-inside-button{
    width:180px;
    height: 34px;
    border-radius: 21px;
    background-color: #57C3EE;
    font-size: 16px;
    font-weight: 900;
    bottom:-17px;
    left: 0;
    right: 0;
    margin: 0 auto;

}

@media(max-width: 340px) {
    .whats-inside-text{
        font-size: 10px;
    }
}

@media(min-width: 375px) {
    .whats-inside-text{
        font-size: 14px;
    }
}


/* What's inside section */


/* publication section */
.publication-quotes{
    background-color: #57C3EE;
}

.publication-quote{
    min-height: 130px;
    height: 50%;
    font-size: 22px;
    font-weight: 700;
    font-family: Montserrat;
    
}

.publication-quote-dash{
    font-size: 22px;
    font-weight: 700;
    font-family: Montserrat;
}

.publication-logo-container{
    min-height: 60px;
    height: 150%;
}

#publication-quotes-carousel-indicators-position{
    bottom:-8px;
}

.us-weekly-logo{
    width:30%;
}
/* publication section */


.baby-blue-container{
    background-color: #CFF4FF;
}


/* variety pack section */
.variety-pack-content{
    color: #57C3EE;
    position: relative;
    z-index: 1;
}

.variety-pack-content h1{
    color: #57C3EE;
    font-weight: 900;
    font-size: 28px;
}

.variety-pack-content p{
    font-weight: 600;
    font-size: 12px;
}

#variety-pack-text{
    font-weight: 600;
    font-size: 14px;
}

.star{
    width:17px;
}

.variety-pack-content div p{
    margin-bottom: 0;
    margin-left: .5em;
}

.variety-pack-image-container{
    height: 240px;
}

.variety-pack-image{
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
    object-fit: cover;
    
}


.variety-pack-content-input{
    border: solid 3px #57C3EE;
    border-radius: 21px;
    width: 240px;
    height: 38px;
}

.variety-pack-content-counter{
    border: solid 3px grey;
    background-color: grey;
    color: lightgray;
    opacity: 0.5;
    border-radius: 21px;
    width: 240px;
    height: 38px;
    pointer-events: none;
    transition: all 1s;
}

.variety-pack-content-counter.active{
    border: solid 3px #57C3EE;
    background-color: white;
    color: #57C3EE;
    opacity: 1;
    pointer-events: all;
}

.order-choice{
    background-color: white;
    color: #57C3EE;
    border-radius: 21px;
    transition: all 1s;
}

input[type=radio]:checked + .order-choice{
    background-color: #57C3EE;
    color: white;
}

#variety-pack-carousel-indicators-positon{
    z-index: 1000;
    bottom:-55px;
}

#units{
    font-size: 8px;
}

.variety-pack-content-input button{
    font-size: 18px;
}


.add-to-cart-button{
    border-radius: 21px;
    font-size: 14px;
    font-weight: 900;
    width: 240px;
    height: 38px;
}
/* variety pack section */


/* testimonial section */
.testimonial-image{
    width:120px;
    height: 120px;
    object-fit: cover;
}

.testimonial-text{
    height: 170px;
    font-size: 17px;
    font-weight: 600;
    color: #3DB8E9;
}

.testimonials-shop-button{
    height: 38px;
    width: 70%;
    max-width: 195px;
    font-weight: 800;
    font-size: 18px;
    border-radius: 21px;
}
/* testimonial section */


/* flavors section */
.flavors-section h2{
    font-weight: 800;
    font-size: 24px;
    color: #3DB8E9
}

.flavors-anchor{
    width:30%;
    max-width: 100px;
}

.flavors-button{
    width: 100%;
    transition: all 1s;
}

.flavors-button:hover{
    background-color: white;
}

.flavors-section button img{
    width: 80%;
    max-width: 70px;
}

.lemon-button{
    background-color: #FFE8A4;
    border: solid 3px #FFE8A4;
}

.tango-button{
    background-color: #FFD4A0;
    border: solid 3px #FFD4A0;
}

.raspberry-button{
    background-color: #F4DADA;
    border: solid 3px #F4DADA;
}

.blackberry-button{
    background-color: #D8DCF2;
    border: solid 3px #D8DCF2;
}

.lite-button{
    background-color: #FAD99B;
    border: solid 3px #FAD99B;
}

.shop-all-button{
    border-radius: 21px;
    height: 39px;
    font-weight: 900;
    font-size: 18px;
    width: 75%;
    max-width: 195px;
}
/* flavors section */


/* contact form section */
.contact-form-section{
    background-color: #57C3EE;
}

.contact-form-section h2{
    font-size: 28px;
    font-weight: 800;
}

.contact-form-section input{
    border: 3px solid white;
    border-radius: 26px;
    width:85%;
    max-width: 220px;
    height: 38px;
    text-align: center;
}

.contact-form-section button{
    font-weight: 800;
    font-size: 18px;
    height: 39px;
    width: 70%;
    max-width: 195px;
    border-radius: 21px;
    color: #57C3EE;
}

.sign-me-up-button{
    background-color: white;
    transition: all 1s;
    border: solid 3px white;
}

.sign-me-up-button:hover{
    background-color: #3DB8E9;
    color: white;
    border: solid 3px white;
}
/* contact form section */


footer{
    background-color: #CFF4FF;
    height: 500px;
}


/* Changing input placeholder text in different browsers */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}
